h1,
h2 {
	text-align: center;
}

#contenido {
	margin-top: 40px;
}
.borrar-tweet,
.borrar-tweet:hover {
	/*float: right;*/
	cursor: pointer;
	color: red;
	font-weight: bold;
}

#lista-tweets li {
	display: flex;
	justify-content: space-between;
}
#lista-tweets li .borrar-tweet {
	align-items: flex-end;
}

/*li a .borrar-tweet {
	display: block;
	justify-content: flex-end;
	background-color: black;
}*/
